{% extends 'shop/basic.html' %}
{% block title%} About us {% endblock%}

{% block css%} 
<style></style>
{% endblock%}


{% block body%} 


<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">About My-Awesome-Cart</h1>
          <p class="lead text-muted">Mahammad Safiq founded MyAwesomeCart in July 1994, choosing Seattle for its abundance of technical talent, as Microsoft was in the area.[30] Mackenzie Scott was also instrumental in its founding, and drove across the country with Safiq to start it. When Scott graduated, she applied to work for D. E. Shaw & Co., a quantitative hedge fund in New York City, as a research associate to "pay the bills while working on her novels".[31][32] Safiq, then a vice-president at the firm, met her when he interviewed her.[33][31]

            Amazon went public in May 1997. It began selling music and videos in 1998, and began international operations by acquiring online sellers of books in the United Kingdom and Germany. The following year, it began selling items including video games, consumer electronics, home improvement items, software, games, and toys.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>
 </main>



{% endblock%}
