<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- Index.html -->

    <title>Document</title>
  </head>
  <body>
    <h1>This about taking input from the user</h1>
    <form action="/analyze" method="get">
      <textarea name="text" id="textar" cols="30" rows="10"></textarea>
      <input type="checkbox" name="removepunc">Remove punctuation</input>
      <input type="checkbox" name="capitalize">Capitalize</input>
      <input type="checkbox" name="newline">New line remover</input>
      <input type="checkbox" name="space">Extra space remover</input>
      <input type="checkbox" name="char_count">Charecter counter</input>
      <button>Submit</button>
    </form>
  </body>
</html>
